<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>listVersion</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>productIdentifier</key>
		<string>sy.gamefun.jackACrasher.ExtraLife</string>
		<key>icon</key>
		<string>Survival_extra_lifes</string>
		<key>consumable</key>
		<true/>
		<key>consumableAmount</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>productIdentifier</key>
		<string>sy.gamefun.jackACrasher.NoAds</string>
		<key>icon</key>
		<string>NoAds</string>
		<key>consumable</key>
		<false/>
	</dict>
	<dict>
		<key>productIdentifier</key>
		<string>sy.gamefun.jackACrasher.Laser</string>
		<key>icon</key>
		<string>icon_10hints.png
</string>
		<key>consumable</key>
		<false/>
		<key>bundleDir</key>
		<string>Laser</string>
	</dict>
</array>
</plist>
